@page
@model MyFirstWebApp.Views.IndexModel


<html>
    <head>
        <meta charset="utf-8" />
        <title>BooksVision</title>
    </head>
    <body>
        <h1 align="center">Разные книги</h1>
        <table border="3" align="center" width="1000">
            <thead>
                <tr>
                    <th bgcolor="grey" width="5%" align="center">ID</th>
                    <th bgcolor="grey" width="20%" align="center">Название</th>
                    <th bgcolor="grey" width="20%" align="center">Автор</th>
                    <th bgcolor="grey" width="40%" align="center">Описание</th>
                    <th bgcolor="grey" width="15%" align="center">Стоимость</th>
                </tr>
            </thead>
            <tbody>
            @{
                foreach (var book in @Model.Books)
                {
                    <tr>
                        <th>@book.Id</th>
                        <th align="left">@book.Title</th>
                        <th align="left">@book.Author</th>
                        <th align="left">@book.Description</th>
                        <th>@book.Price</th>
                    </tr>
                }
            }
            </tbody>
        </table>
    </body>
</html>
