@model Book
@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <div class="text-start">
        <h2 class="display-4">@Model.Title</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="@ViewData["ImageRenderPath"]" class="rounded" width="400" height="580" alt="image"/>
        </div>
        <div class="col-md-6">
            <h4 class="text-black">@string.Format("{0:C2}", Model.Price)</h4>
            <h4 class="text-black"><b>Автор: </b>@Model.Author</h4>
            <h4 class="text-black"><b>Описание: </b></h4>
            <p class="text-black text-break">@Model.Description</p>
        </div>
    </div>
</div>

